.body{
font-family: 'Lobster', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rozha One', serif;
}
.flex-sec{
    display: flex;
    margin-left: 100px;
    margin-right:100px;
    margin-top: 100px;
    padding: 40px;

}
.half-width{
    width: 50%;

}
.big-img{
    max-width: 70%;
    height: auto;
}
#person-1{
    text-align: top;
    margin-left: 150px;
    margin-bottom: 300px;
    margin-top: 0;
}
.font-rozha{
    font-family: 'rozha one';
    font-weight:100;
    font-size: 40px;
    border-left: 4px solid tomato ;
    padding-left: 10px;
    height: 110px;
    letter-spacing: 2px;
    line-height: 0.4;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{  
    display: block;
    width: 40%;
    height: auto;
    background:tomato;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}
small{
    margin-top: 100px;
    font-family: sans-serif;
}
.grey{
    color: grey;
}
.yellow{
    color:rgb(248, 192, 87);
}
h2{
    font-family: 'Poppins';
    font-weight:800 ;
    font-size: 35px;
    line-height: 0.5;
    color: grey;
}